<div class="message_base">
  <span class="avatar inline-block table_cell">
    <%= link_to user_path(message.user) do %>
      <%= image_tag user_picture(message.user), class: "img-circle pic-middle" %>
    <% end %>
  </span>
  <div class="message_info inline-block table_cell">
    <div class="message_content"><%= message.content %></div>
    <span class="username"><%= message.user.username %></span>
    <span class="timestamp"><%= message.sent_time %></span>
  </div>
</div>
