<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <div class="user_top">
      <div class="avatar inline-block">
        <%= image_tag user_picture(@user), class: "img-circle pic-middle" %>
        <strong class="user_name"><%= @user.username%></strong>
      </div>

    </div>

    <ul class="head_lists center">
      <li><%= link_to "Your Stories", user_path(@user), class: "" %></li>
      <li><%= link_to "Drafts", user_drafts_path(@user), class: "" %></li>
      <li><%= link_to "Saved", user_saving_path(@user), class: "" %></li>
      <li><%= link_to "Profile", user_profile_path(@user), class: "active" %></li>
    </ul>

    <div class="">
      <%= form_for(@profile) do |f| %>
        <%= render "shared/errors", object: f.object %>
        <div class=" ">
          <%= f.label :self_introduction %><br />
          <%= f.text_area :self_introduction, class: "width100" %>
        </div>
        <div class=" ">
          <%= f.label :interest %><br />
          <%= f.text_area :interest, class: "width100" %>
        </div>
        <div class=" ">
          <%= f.label :work_experience %><br />
          <%= f.text_area :work_experience, class: "width100" %>
        </div>
        <div class=" ">
          <%= f.label :education %><br />
          <%= f.text_area :education, class: "width100" %>
        </div>
        <div class=" ">
          <%= f.label :languages %><br />
          <%= f.text_area :languages, class: "width100" %>
        </div>
        <div class=" ">
          <%= f.label :others %><br />
          <%= f.text_area :others, class: "width100" %>
        </div>

          <%= f.submit "Update", class: "btn btn-primary" %>

      <% end %>
    </div>


  </div>
