<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <%= render 'show_top' %>

  <% if current_user == @user %>
    <ul class="head_lists center">
      <li><%= link_to "Your Stories", user_path(@user), class: "" %></li>
      <li><%= link_to "Drafts", user_drafts_path(@user), class: "active" %></li>
      <li><%= link_to "Saved", user_saving_path(@user), class: "" %></li>
      <li><%= link_to "Profile", user_profile_path(@user), class: "" %></li>
    </ul>

    <ul class="stories">
      <% unless @drafts.blank? %>
        <%= render @drafts %>
      <% else %>
        <br>
        <br>
        <p class="center">There are no your drafts.</p>
      <% end %>
    </ul>

  <% end %>

  </div>
