
  <li id="story-<%= story.id %>" class="list">
    <div class="story_base">
      <div class="space table">
        <div class="avatar">
          <%= link_to user_path(story.user) do %>
            <%= image_tag user_picture(story.user), class: "img-circle pic-middle" %>
          <% end %>
        </div>
        <div class="info table">
          <span class="username">
            <%= link_to story.user.username, story.user %>
          </span>
          <div class="timestamp">
            <% if story.draft %>
              draft
            <% else %>
              Posted <%= time_ago_in_words(story.published_at) %> ago.
            <% end %>
          </div>
        </div>
      </div>

      <%= link_to story_path(story) do %>
        <div class="title space">
          <%= story.title %>
        </div>
        <div class="cover_image space">
          <%= image_tag attachment_url(story, :cover_image) %>
        </div>
      <% end %>

      <div class="bottom_actions">
        <div class="inline-block">
          <% if current_user == story.user %>
            <span class="edit">
              <%= link_to "edit", edit_story_path(story) %>
            </span class="delete">
            <span>
              <%= link_to "delete", story, method: :delete, data: {confirm: "You sure?"} %>
            </span>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="inline-block pull-right">
            <%= render 'saves/save_btn', story: story %>
          </div>
        <% end %>
      </div>
    </div>
  </li>
