<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <div class="draft_base">
      <div class="space table">
        <div class="avatar">
          <%= link_to user_path(@story.user) do %>
            <%= image_tag user_picture(@story.user), class: "img-circle pic-middle" %>
          <% end %>
        </div>
        <div class="info table">
          <span class="username">
            <%= link_to @story.user.username, @story.user %>
          </span>
          <div class="condition">
            Draft..
          </div>
        </div>
      </div>
      <div class="story_form space">
        <%= form_for(@story) do |f| %>
          <%= render "shared/errors", object: f.object %>
          <div class="title_field space">
            <%= f.label :title %><br />
            <%= f.text_field :title %>
          </div>
          <div class="cover_image_field space">
            <%= f.label :cover_image %><br />
            <%= f.attachment_field :cover_image %>
          </div>
          <div class="text_area space">
            <%= f.label :content %><br />
            <%= f.text_area :content, placeholder: "Write your story..", class: "draft width100" %>
          </div>
          <!-- <span class="picture">
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
          </span> -->
          <%= f.submit "Post", name: "publish", class: "btn btn-primary" %>
          <%= f.submit "Save as draft", name: "draft", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
