<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-12">
    <div class="story_base">
      <div class="space table">
        <div class="avatar">
          <%= link_to user_path(@story.user) do %>
            <%= image_tag user_picture(@story.user), class: "img-circle pic-middle" %>
          <% end %>
        </div>
        <div class="info table">
          <span class="username">
            <%= link_to @story.user.username, @story.user %>
          </span>
          <div class="timestamp">
            <% if @story.draft %>
              draft
            <% else %>
              Posted <%= time_ago_in_words(@story.published_at) %> ago.
            <% end %>
          </div>
        </div>
      </div>
        <div class="title">
          <%= @story.title %>
        </div>
        <div class="cover_image">
          <% if @story.cover_image %>
           <%= image_tag attachment_url(@story, :cover_image) %>
          <% end %>
        </div>

        <div class="content">
          <%= @story.content %>
        </div>

        <div class="bottom_actions">
          <% if current_user == @story.user %>
            <div class="inline-block">
              <%= link_to "edit", edit_story_path(@story) %>
            </div>
            <div class="inline-block">
              <%= link_to "delete", @story, method: :delete, data: {confirm: "You sure?"} %>
            </div>
          <% else %>
            <div id="likes_btn<%= @story.id %>" class="inline-block">
              <%= render 'stories/likes', story: @story %>
            </div>
            <div class="saving_btn<%= @story.id %> inline-block pull-right">
              <%= render 'savings/saving_btn', story: @story %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
